appdirs==1.4.4
asgiref==3.2.10
autopep8==1.5.2
distlib==0.3.1
filelock==3.0.12
pycodestyle==2.6.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.28
Django==3.2.25
django-taggit==0.22.2
Markdown==2.6.11
psycopg2